html {
    font-family: Verdana;
}
body {
    color: white;
    background-color: black;
    text-align: center;
}
h1 {
    font-size: 50px;
    font-weight: normal;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}
a {
    color: aquamarine;
    font-size: 16px;
}
footer p {
    text-align: right;
    color: gray;
}
.desc {
    font-size: 21px;
    color: gray;
}
.resource {
    align-content: center;
}